/* .App {
  text-align: center;
}
 */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* App.css 혹은 다른 CSS 파일에 추가 */
.transition-slide {
  transition: transform 0.3s ease-in-out;
}

.slide-out-up {
  transform: translateY(-100%);
}

.slide-out-down {
  transform: translateY(100%);
}

.slide-out-left {
  transform: translateX(-100%);
}

.slide-out-right {
  transform: translateX(100%);
}


.character {
  width: 48px;
  height: 60px;
  background-image: url('images/ch.png');
  background-repeat: no-repeat;
  animation: walkAnim 0.5s steps(3) infinite;
  scale: 1.2;
}
/*ch01: x: 0 ~ -144px, ch02: -144 ~ -288*, ch : -288, -432*/
@keyframes walkAnimFront {
  from {
      background-position: -144px 0px;
  }
  to {
      background-position: -288px 0px;
  }
}

@keyframes walkAnimLeft {
  from {
      background-position: -144px -60px;
  }
  to {
      background-position: -288px -60px;
  }
}

@keyframes walkAnimRight {
  from {
      background-position: -144px -120px;
  }
  to {
      background-position: -288px -120px;
  }
}

@keyframes walkAnimUp {
  from {
      background-position: -144px -180px;
  }
  to {
      background-position: -288px -180px;
  }
}

.character.down {
  animation-name: walkAnimFront;
}

.character.left {
  animation-name: walkAnimLeft;
}

.character.right {
  animation-name: walkAnimRight;
}

.character.up {
  animation-name: walkAnimUp;
}